{% extends "base.html" %}

{% block content %}

<h1>{{ questionnaire.title }}</h1>

<form method="POST" class="mt-4">

    {% for question in questionnaire.questions %}
        {% set question_index = loop.index0 %}

        <div class="fh-box fh-box-dark">

                <h4>Question {{ loop.index }}</h4>

                <div class="mb-3">
                    {{ question.question | markdown | safe }}
                </div>

                {% for choice in question.choices %}
                    <div class="form-check mb-2">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="question_{{ question_index }}"
                            id="question_{{ question_index }}_{{ loop.index0 }}"
                            value="{{ choice }}"
                            required
                        >

                        <label
                            class="form-check-label"
                            for="question_{{ question_index }}_{{ loop.index0 }}"
                        >
                            {{ choice | markdown | safe }}
                        </label>
                    </div>
                {% endfor %}

        </div>
    {% endfor %}

    <div class="text-end mb-5">
        <button type="submit" class="btn btn-dark">
            {{ display_language.get("SNAKEQUIZ-BUTTON-save", "Save") }}
        </button>
    </div>

</form>

{% endblock %}
