# :----------------------------------------------------------------------- INFO
# :[Snake-Vault/requirements.txt]
# :author        : fantomH
# :created       : 2023-08-22 11:11:22 UTC
# :updated       : 2024-04-07 02:25:54 UTC
# :description   : Packages.

# :(* markdownify *)
# :Convert some HTML to Markdown.
# :url: https://github.com/matthewwithanm/python-markdownify
markdownify

# :(* python-magic *)
# :python-magic is a Python interface to the libmagic file type identification
# :library. libmagic identifies file types by checking their headers according
# :to a predefined list of file types. This functionality is exposed to the
# :command line by the Unix command file.
# :url: https://github.com/ahupp/python-magic
python-magic

# :(* simple-term-menu *)
# :creates simple menus for interactive command line programs.
# :url: https://github.com/IngoMeyer441/simple-term-menu
simple-term-menu

# :------------------------------------------------------------- FIN ¯\_(ツ)_/¯
