<!--
+---------------------------------------------------------------------- INFO -+
| [Snake-Vault/snake_vault/flask/example/app/templates/index.html]            |
|                                                                             |
| Author      : Pascal Malouin (https://github.com/fantomH)                   |
| Created     : 2026-06-16 13:41:08 UTC                                       |
| Updated     : 2026-06-16 13:41:08 UTC                                       |
| Description : Index template.                                               |
+-----------------------------------------------------------------------------+
-->

{% extends "base.html" %}

{% block content %}

  <div class="fh-container-fluid">

    <h1>{{ display_language.get("HOME-h1", "Home") }}</h1>

  </div>

{% endblock %}
