{% extends "base.html" %}

{% block content %}

<div class="fh-container-fluid">
  <form method="POST" action="">

    <h1>{{ display_language["MYACCOUNT-h1"] }} ({{ current_user.username }})</h1>
    <div class="form-group">

      <div class="border border-3 border-dark rounded p-3">
    
        <label for="firstname">{{ display_language["MYACCOUNT-firstname_label"] }}</label>
        <div class="input-group">
          <input
            type="text"
            id="firstname"
            name="firstname"
            class="form-control"
            value="{{ current_user.firstname }}"/>
        </div>

        <label for="lastname">{{ display_language["MYACCOUNT-lastname_label"] }}</label>
        <div class="input-group">
          <input
            type="text"
            id="lastname"
            name="lastname"
            class="form-control"
            value="{{ current_user.lastname }}"/>
        </div>

        <label for="email">{{ display_language["MYACCOUNT-email_label"] }}</label>
        <div class="input-group">
          <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            value="{{ current_user.email }}"/>
        </div>

      </div>

      <br />

      <div class="border border-3 border-dark rounded p-3">

        <h4>{{ display_language["MYACCOUNT-change_your_password"] }}</h4>

        <label for="current_password">{{ display_language["MYACCOUNT-current_password_label"] }}</label>
        <div class="input-group">
          <input
            type="password"
            id="current_password"
            name="current_password"
            class="form-control"
            placeholder="{{ display_language["MYACCOUNT-current_password_placeholder"] }}"/>
        </div>

        <label for="password1">{{ display_language["MYACCOUNT-new_password_label"] }}</label>
        <div class="input-group">
          <input
            type="password"
            id="password1"
            name="password1"
            class="form-control"
            placeholder="{{ display_language["MYACCOUNT-new_password_placeholder"] }}"/>
        </div>

        <label for="password2">{{ display_language["MYACCOUNT-confirm_password_label"] }}</label>
        <div class="input-group">
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="{{ display_language["MYACCOUNT-confirm_password_placeholder"] }}"/>
        </div>
      </div>
      <br />
      <div align="right">
        <button class="btn btn-dark" type="submit">{{ display_language["BUTTON-save"] }}</button>
      </div>

    </form>
  </div>

{% endblock %}
