{% extends "base.html" %}

{% block content %}

<form method="POST" action="">

  <h1>{{ display_language.get("USER-ACCOUNT-h1", "User Account ") }} ({{ user_account.username }})</h1>
  <div class="form-group">

    <div class="border border-3 border-dark rounded p-3">
  
      <label for="firstname">{{ display_language.get("USER-ACCOUNT-firstname_label", "First Name") }}</label>
      <div class="input-group">
        <input
          type="text"
          id="firstname"
          name="firstname"
          class="form-control"
          value="{{ user_account.firstname }}"/>
      </div>

      <label for="lastname">{{ display_language.get("USER-ACCOUNT-lastname_label", "Last Name") }}</label>
      <div class="input-group">
        <input
          type="text"
          id="lastname"
          name="lastname"
          class="form-control"
          value="{{ user_account.lastname }}"/>
      </div>

      <label for="email">{{ display_language.get("USER-ACCOUNT-email_label", "Email") }}</label>
      <div class="input-group">
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          value="{{ user_account.email }}"/>
      </div>

    </div>

    <br />

    <div class="border border-3 border-dark rounded p-3">

      <h4>{{ display_language.get("USER-ACCOUNT-change_password", "Change Password") }}</h4>

      <label for="password1">{{ display_language.get("USER-ACCOUNT-new_password_label", "New password") }}</label>
      <div class="input-group">
        <input
          type="password"
          id="password1"
          name="password1"
          class="form-control"
          placeholder="{{ display_language.get("USER-ACCOUNT-new_password_placeholder", "Enter new password") }}"/>
      </div>

      <label for="password2">{{ display_language.get("USER-ACCOUNT-confirm_password_label", "Confirmation of new password") }}</label>
      <div class="input-group">
        <input
          type="password"
          id="password2"
          name="password2"
          class="form-control"
          placeholder="{{ display_language.get("USER-ACCOUNT-confirm_password_placeholder", "Confirm new password") }}"/>
      </div>
    </div>
    <br />
    <div align="right">
      <button class="btn btn-dark" type="submit">{{ display_language.get("BUTTON-save", "Save") }}</button>
    </div>

  </form>

{% endblock %}
